body {
  display: flex;
  justify-content: center;
  background: url(candyImages/bgImageCandy.png) no-repeat;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.game {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  /* height: 20%;
  width: 20%; */
  background-color: pink;
}
.classGrid {
  height: 420px;
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  background-color: plum;
  /* margin: 50%; */
  margin-bottom: 20px;
}

.classGrid div {
  height: 70px;
  width: 70px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: pink;
}

.scoreDisplay {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  border: 2px solid black;
  margin-bottom: 20px;
}

/* #startButton {
  margin: 20%;
}

#resetButton {
  margin: 20%;
} */
